/* 
Sergiu Hotea
Prof Kwame Agyemang Baffour
CSCI 39548 - Practical Web Development
6/30/2023 
Description: css code for the home page and footer 
*/


body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }

  .header {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
  }

  .hero-section {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(36, 22, 22);
  }

  .hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .hero-section p {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .cta-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #ff9800;
    color: rgb(65, 14, 14);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .cta-button:hover {
    background-color: #f57c00;
  }

  .features-section {
    padding: 40px 20px;
    text-align: center;
  }

  .feature {
    margin-bottom: 40px;
  }

  .feature img {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
  }

  .feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .feature p {
    font-size: 18px;
  }

  .footer {
    background-color: #333;
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
  }